
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome to my Website</h1>
<p>This is a very basic welcome page.</p>
<div class="mt-3">
    <a class="btn btn-primary" href="/Account/Login">Login</a>
    <a class="btn btn-secondary" href="/Account/Signup">Signup</a>
</div>